body{
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
#Par1{
    color: blue;
    padding: 30px;
    background-color: grey;
    font-size: 20px;
}
#Par2{
    color: blueviolet;
    background-color: brown;
    font-size: 25px;
    text-align: center;
    text-decoration: overline;
    font-style: italic;
}
#Par3{
    color: blue;
    background-color: grey;
    text-decoration: underline;
    text-align: center;
    padding: 30px;
}
.mypar{
    color: goldenrod;
    background-color:brown;
    font-size: 25px;
    border: 3px double black;
    height: 80px;
}